$color-white: #fff;
$color-text: #222;
$color-brand: #ee0000;

@font-face {
  font-family: "NudistaFont";
  src: url("/static/fonts/nudista_medium.woff");
  font-weight: 400;
}

@font-face {
  font-family: "NudistaFont";
  src: url("/static/fonts/nudista_bold.woff");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "NudistaFont";
  &.modal--active {
    overflow: hidden;
    .header {
      transition: background 0.3s 0.3s;
      background: #fff;
    }
  }
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 28px;
  @media (max-width: 750px) {
    font-size: 24px;
  }
}

h3 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.3;
  @media (max-width: 750px) {
    font-size: 16px;
  }
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  @media (max-width: 750px) {
    font-size: 15px;
  }
}

// BUTTONS
.btn {
  padding: 10px 15px;
  border: 2px solid #dcdcdc;
  background: #dcdcdc;
  letter-spacing: 1.5px;
  color: $color-text;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: $color-brand;
    border: 2px solid $color-brand;
    color: $color-white;
  }
}

.container {
  max-width: 70ch;
  padding: 15px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  &.container--btn {
    padding: 10px 30px;
  }
  &.container--narrow {
    max-width: 50ch;
  }
}

// SECTIONS
.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  padding: 68px 0 40px 0;
  transition: opacity 1s;
  background-color: $color-white;

  &.section--padding {
    padding: 65px 0;
  }

  .section__left {
    display: flex;
    width: 50%;
    min-height: 100vh;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }

  .section__right {
    padding: 10px 20px;
    box-sizing: border-box;
    min-height: 100vh;
    height: auto;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &.section--footer {
    padding: 20px;
    height: auto;
    min-height: auto;
    text-align: center;
    border-bottom: 3px $color-brand solid;
    p {
      font-size: 12px;
      letter-spacing: 1px;
      a {
        color: $color-white;
        text-decoration: none;
        transition: color 0.3s;
        &:hover {
          color: $color-brand;
        }
      }
    }
  }

  @media (max-width: 750px) {
    .section__left {
      display: none;
    }

    .section__right {
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 0;
    }
  }

  &.section--inverted {
    background-color: #111;
    color: $color-white;
  }

  &.section--visible {
    opacity: 1;
  }

  &.section--invisible {
    opacity: 0;
  }

  &.section--disease {
    padding: 0;
    .section__left {
      height: auto;
      min-height: auto;
    }
    .section__right {
      padding: 68px 0;
      height: unset;
      min-height: auto;
    }
    &:nth-of-type(odd) {
      flex-direction: row;
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      .section__left {
        align-items: flex-end;
      }
    }
  }
}

svg.msflogo {
  width: auto;
  height: 44px;
}

// PRELOADER
#preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 999;
}

// HEADER
.header {
  width: 100%;
  display: flex;
  position: fixed;
  padding: 10px 15px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  z-index: 998;
  transition: background 0.3s;

  &.header--light {
    background: #fff;
  }

  &.header--dark {
    background: #111;
  }

  .header__logo {
    a {
      cursor: pointer;
      display: block;
    }
  }

  .header__navitems {
    display: flex;
    align-content: center;
    justify-content: center;

    a {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      margin-left: 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #eceff1;
      cursor: pointer;
      transition: background 0.3s, transform 0.3s;

      &:hover {
        background: #cfd8dc;
        transform: scale(1.1);
      }

      svg {
        width: 24px;
        height: 24px;
        fill: #37474f;
        .text {
          fill: #000;
        }
      }
    }

    a.navitem-share {
      display: flex;
    }

    a.navitem-nav {
      display: flex;
    }

    a.navitem-close {
      display: none;
    }
  }

  &.header--navmodal-opened {
    a.navitem-share {
      display: none;
    }

    a.navitem-nav {
      display: none;
    }

    a.navitem-close {
      display: flex;
    }
  }
}

// NAVIGATION
.navmodal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  z-index: 997;
  top: 0;
  bottom: 0;
  background: $color-white;
  opacity: 0;

  &.navmodal--navigation {
    transition: right 0.5s, opacity 0.5s;
    right: -100%;
    &.navmodal--active {
      right: 0;
      opacity: 1;
    }
  }

  &.navmodal--sharing {
    left: -100%;
    transition: left 0.5s, opacity 0.5s;
    &.navmodal--active {
      left: 0;
      opacity: 1;
    }
  }

  ul {
    margin: 0;
    padding: 68px 20px 40px 20px;
    width: 100%;
    list-style: none;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    li {
      font-size: 24px;
      text-transform: uppercase;
      margin: 15px 0;
      @media (max-width: 640px) {
        font-size: 22px;
        margin: 8px 0;
      }
      @media (max-width: 480px) {
        font-size: 17px;
        margin: 8px 0;
      }
      &:not(:last-child):after {
        content: "";
        width: 25%;
        height: 1px;
        margin: 0 auto;
        display: block;
        border-bottom: 1px #d4d4d4 solid;
      }
      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: $color-text;
        transition: color 0.3s;
        &:hover {
          color: $color-brand;
        }
      }
    }
  }
}

#hero {
  overflow: hidden;
  background: $color-white;
  transition: all 0.3s;
  @keyframes fadeInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  .hero__background {
    position: absolute;
    background-image: url("/static/img/bg-hero.jpg");
    background-position: right center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: fadeInOut 30s infinite cubic-bezier(0.7, 0, 0.35, 1);
  }

  .hero__left {
    display: flex;
    width: 50%;
    height: auto;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
  }

  .hero__right {
    padding: 0 20px;
    box-sizing: border-box;
    width: 50%;
    z-index: 1;
  }

  @media (max-width: 750px) {
    .hero__background {
      display: none;
    }
    .hero__left {
      width: 100%;
    }
    .hero__right {
      display: none;
    }
  }

  img {
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  .particles {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

@media (max-width: 750px) {
  #kala-azar,
  #chogasova-choroba,
  #hadi-ustknuti,
  #tuberkuloza,
  #spava-nemoc {
    background-size: cover;
    background-position: center 68px;
    background-repeat: no-repeat;
  }
  #kala-azar {
    background-image: url("/static/img/img-kala-azar-m.jpg");
  }
  #chogasova-choroba {
    background-image: url("/static/img/img-chogasova-choroba-m.jpg");
  }
  #hadi-ustknuti {
    background-image: url("/static/img/img-hadi-ustknuti-m.jpg");
  }
  #tuberkuloza {
    background-image: url("/static/img/img-tuberkuloza-m.jpg");
  }
  #spava-nemoc {
    background-image: url("/static/img/img-spava-nemoc-m.jpg");
  }
}

.share-modal {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: $color-white;
  z-index: 999;
  display: none;
  top: 0;
  left: 0;

  &.share-modal--opened {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal__close {
    position: fixed;
    top: 18px;
    right: 15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #eceff1;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;

    &:hover {
      background: #cfd8dc;
      transform: scale(1.2);
    }

    svg {
      width: 20px;
      height: 20px;
      fill: #37474f;
    }
  }
  .sharing-avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: $color-brand 5px solid;
    display: inline-block;
  }
}

.faq-block {
  padding: 10px 0;
  .faq-block__answer {
    border-left: 2px $color-brand solid;
    padding-left: 20px;
  }
}
